<ion-header>
  <ion-toolbar>
    <ion-title>login-page</ion-title>
     <ion-buttons slot="end">
    <ion-button (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<form>    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
      <ion-button type="submit" (click)="login(email, password)" expand="block" fill="outline" size="default">Login</ion-button>
  		<ion-button type="submit" fill="outline" size="default" expand="block" (click)="gmailLogin()">
      <ion-icon name="logo-google"></ion-icon>
      </ion-button>
  </form>
<ion-button type="submit" (click)="goRegister()"  expand="block"  fill="outline">Register</ion-button>
</ion-content>
