<ion-header>
  <ion-toolbar>
    <ion-title>login-page</ion-title>
     <ion-buttons slot="end">
    <ion-button (click)="goHome()">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<form>    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col> 
      <ion-button type="submit" (click)="login(email, password)" expand="block">Login</ion-button>
      </ion-col>
    </ion-row>
  </form>
<ion-button type="submit" (click)="goRegister()" expand="block">Register</ion-button>
</ion-content>
