<ion-header >

  <ion-toolbar color="danger">

  <ion-buttons slot="start">
    <ion-button (click)="goLogin()" [disabled]="isLoggedIn()">
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
   <ion-buttons slot="start">
    <ion-button (click)="signOut()" [disabled]="!isLoggedIn()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
  </ion-buttons>
  
  
    <ion-title >GameCock Store</ion-title>
    
<ion-buttons slot="end">
      <ion-button (click)="newItemView()" *ngIf="!hideMe">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
</ion-buttons>
 </ion-toolbar>
 </ion-header>
 <ion-content [fullscreen]="true" id="main-content">
  <ion-header>
  <ion-toolbar>
  <ion-title >Items Available</ion-title>
  </ion-toolbar>
    </ion-header>
  <ion-card *ngFor="let item of (itemList|async)" (click)="viewItem(item)">
    <ion-item >
      <ion-thumbnail slot="start">
        <ion-img [src]="item.src"></ion-img>
      </ion-thumbnail>
      <ion-label text-wrap>{{item.name}}</ion-label>
      <ion-label text-wrap>${{item.price}}</ion-label>
      <ion-label text-wrap>{{item.category}}</ion-label>
      <ion-label text-wrap>{{item.quantity}}</ion-label>
    </ion-item>
  </ion-card>
</ion-content>

 

    

