<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-button type="submit" (click)="goLogin()">
  <ion-icon name="return-up-back-outline"></ion-icon>
  </ion-button>
  </ion-buttons>
    <ion-title>register-page</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<form>    
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item> 
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
   
  </form>
  <ion-item>
    <ion-label>User Type</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="type" >
      <ion-select-option value="customer">Customer</ion-select-option>
      <ion-select-option value="owner">Owner</ion-select-option>
    </ion-select>
  </ion-item>
    <ion-button type="submit" (click)="register(email, password)" expand="block">Register</ion-button>
</ion-content>
