<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Add new item to stock</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<form [formGroup]="itemDetails" (submit)="addItem(itemDetails.value)">
    <ion-item>
      <ion-label color="primary" position="floating">Name</ion-label>
      <ion-input type="text" formControlName="name" required></ion-input>
    </ion-item>
    <ion-item text-wrap>
      <ion-label color="primary" position="floating">Price</ion-label>
      <ion-input type="text" formControlName="price" required></ion-input>
    </ion-item>
    <ion-item>Category (please only pick one category)</ion-item>
    <ion-item>
     <ion-label text-wrap>Top</ion-label>
    <ion-checkbox color="primary" formControlName="Top"></ion-checkbox>
    </ion-item>
    <ion-item>
     <ion-label text-wrap>Bottom</ion-label>
    <ion-checkbox color="primary" formControlName="Bottom"></ion-checkbox>
    </ion-item>
    <ion-item>
     <ion-label text-wrap>Outfit</ion-label>
    <ion-checkbox color="primary" formControlName="Outfit"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="floating">Photo URL</ion-label>
      <ion-input type="text" formControlName="url" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="primary" position="floating">Description</ion-label>
      <ion-input type="text" formControlName="description" required></ion-input>
    </ion-item>



<!-- <ion-item>
  <ion-label>MM DD YY</ion-label>
  <ion-datetime displayFormat="MM DD YY" placeholder="Select Date" formControlName="date"></ion-datetime>
</ion-item> -->

    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!itemDetails.valid">Create</ion-button>
  </form>

</ion-content>

