<ion-header>
  <ion-toolbar color="danger">
    <ion-title >Order Details</ion-title>
    
    
 </ion-toolbar>
 </ion-header>
 <ion-content [fullscreen]="true">
  <ion-header>
  <ion-toolbar>
  <ion-title >Your order list</ion-title>
  </ion-toolbar>
    </ion-header>
  <ion-card *ngFor="let order of (orderList|async)" (click)="viewOrder(order)">
    <ion-item >
      <ion-label text-wrap>Total Cost: {{order.totalCost}}</ion-label>
      <ion-label text-wrap>Total Items: {{order.totalItems}}</ion-label>
      <ion-label text-wrap>date: {{order.date}}</ion-label>
      <ion-label text-wrap>id: {{order.id}}</ion-label>
    </ion-item>
  </ion-card>